<div class="profile-edit-view">
  <div id="profile-menu">
    <div class="profile-menu-header">
      <%= link_to @profile do %>
        <div class="header-logo second-bkgrnd">
          <h1 class="logo-font second-font ">A&C</h1> 
        </div>      
      <% end %>
      <%= image_tag("Vectorprofilemenu.svg", id: "vectorprofilemenu-img") %>
    </div>
    <div class="links-submenu-wrapper">
      <div class="highlight-section-link section-link primary-font">Perfil</div>
      <%
=begin%>
 <div class="section-link primary-font">Imágenes</div>
      <div class="section-link primary-font">Cuentas</div> 
<%
=end%>
      <div class="section-link primary-font">
        <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'link-font-color' %>
      </div>   
    </div>
  </div>
  <div id="profile-admin-dark">
    <div id="profile-form-main">
      <%= render 'layouts/admin_header' %>
      <div class="profile-form-desktop">
        <%= render 'layouts/profile-menu-desktop' %>
        <div class="profile-form-container">
          <div class="profile-form-header"> 
            <div class="profile-form-title primary-font">Perfil del usuario</div>
          </div>
          <div class="profile-form-small">
            <%= render 'form', object: @profile %>
          </div>
          <div class="profile-form-big">
            <%= render 'form_desktop', object: @profile %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>