<%= render 'layouts/header' %>

<div class= "main">
  <div class= "back-wrapper">
    <%= link_to root_path do%>
      <%= image_tag("Vector.svg", class: "vector-img") %>
      <span class= "back">Atr치s</span>
    <% end %>
  </div>

  <div class= "signup-form-container">
    <div>
      <h2 class= "form-header">Registro de usuario</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class= "signup-form">
          <h2 class="your-data">Tus datos</h2>
          <div class= "field">
            <%= f.label :email, 'Correo electr칩nico', class: "label" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field-field" %>
          </div>

          <div class= "field">
            <%= f.label :password, 'Contrase침a', class: "label" %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "field-field" %>
          </div>

          <div class= "field bottom-field">
            <%= f.label :password_confirmation, 'Confirmar contrase침a', class: "label" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field-field" %>
          </div>
        </div>
        <div class= "submit-btn-wrapper">
          <%= f.submit "Registrarme", class: "submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
