<!DOCTYPE html>
<html>
  <head>
    <title>Hugs And Coffee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'publish_profile.js' %>
    <%= javascript_pack_tag 'profile_menu.js' %>
    <%= javascript_pack_tag 'hide_flash_msg.js' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>